################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GameofLife-Problem/obj
/GameofLife-Problem/bin/Debug/net5.0
